@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,300&display=swap');


nav {
    background-color: #44A0F4;
    height: 58px;
}

#logo {
    width: 250px;
    margin-left: 20px;
}

span {
    text-decoration: solid;
    float: right;
    margin-top: 16px;
}

a {
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
    font-optical-sizing: auto;
    font-size: 23px;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

#first {
    width: 100%;
}

#bricka {
    margin-left: 100px;
    text-decoration: solid;
    color: #4C61CD;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

#meetup {
    float: right;
    margin-right: 270px;
    width: 40%;
}

#brickb {
    margin-bottom: 170px;
    margin-left: 100px;
    width: 740px;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 33px;
}

#heading {
    text-align: center;
    text-decoration: solid;
    color: #4C61CD;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}

#para {
    text-align: center;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 33px;
    margin: auto 51px;
}

footer {
    background-color: #C6D8F3;
}

#name{}

#address{}

#join{}

#joininfo{}

#clickad{}