@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');

nav {
    background-color: #44A0F4;
    height: 58px;
}

#logo {
    width: 250px;
    margin-left: 20px;
}

span {
    text-decoration: solid;
    float: right;
    margin-top: 16px;
}

a {
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
    font-optical-sizing: auto;
    font-size: 23px;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

a:hover {
    text-decoration: underline;
}

#where {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #5f72d1;
    text-decoration: solid;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

#first {
    width: 100%;
}

#bricka {
    margin-top: 70px;
    margin-left: 140px;
    text-decoration: solid;
    color: #4C61CD;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

#meetup {
    float: right;
    margin-right: 180px;
    margin-top: -50px;
    width: 43%;
}

#brickb {
    margin-bottom: 130px;
    margin-left: 140px;
    width: 740px;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 33px;
}

#heading {
    text-align: center;
    text-decoration: solid;
    color: #4C61CD;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}

#para {
    text-align: center;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 33px;
    margin: auto 55px;
    margin-bottom: 30px;
}

footer {
    background-color: #C6D8F3;
}

#name{
    padding-top: 10px;
    margin-bottom: 8px;
    margin-left: 35px;
    color: #000000;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#address{
    margin-left: 35px;
    margin-top: 13px;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    padding-bottom: 7px;
}

#joinA{
    position: absolute;
    bottom: -68%;
    right: 40%;
    color: #4C61CD;
    text-decoration: solid;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#joininfoA{
    position: absolute;
    bottom: -73.5%;
    right: 16%;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
}

#joinT{
    position: absolute;
    bottom: -34%;
    right: 40%;
    color: #4C61CD;
    text-decoration: solid;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#joininfoT{
    position: absolute;
    bottom: -39.6%;
    right: 16%;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
}

#joinC{
    position: absolute;
    bottom: -29.6%;
    right: 40%;
    color: #4C61CD;
    text-decoration: solid;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#joininfoC{
    position: absolute;
    bottom: -35.2%;
    right: 16%;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
}

#joinS{
    position: absolute;
    bottom: -53.9%;
    right: 40%;
    color: #4C61CD;
    text-decoration: solid;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#joininfoS{
    position: absolute;
    bottom: -59.4%;
    right: 16%;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
}